In [4]:
import os
import json
import pandas as pd

In [2]:
with open('csv_list.json', 'r') as f:
    csv_list = json.load(f)['csv_list']

In [127]:
df = pd.read_csv(csv_list[15])
os.path.basename(csv_list[15])

'Quickestelectriccars-EVDatabase.csv'

In [124]:
df.shape

(179, 11)

In [125]:
pd.options.display.max_columns = 11

In [126]:
df.head(3)

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Tesla Roadster,Battery Electric Vehicle | 200 kWh,2.1 sec,410 km/h,970 km,206 Wh/km,920 km/h,All Wheel Drive,4,"€215,000","£189,000"
1,Tesla Model X Plaid,Battery Electric Vehicle | 90 kWh,2.6 sec,262 km/h,455 km,198 Wh/km,680 km/h,All Wheel Drive,7,"€116,990","£110,980"
2,Porsche Taycan Turbo S,Battery Electric Vehicle | 83.7 kWh,2.8 sec,260 km/h,390 km,215 Wh/km,860 km/h,All Wheel Drive,4,"€186,336","£138,830"